*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#header{
    background: palevioletred;
    color: #fff;
    padding: 20px;
}

#movie-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 50%;
}